@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-primary;
}
